<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
		<add key="document.url.default" value="http://textmaxx.research.local:8080/" />
		<add key="document.url.secure" value="http://textmaxx.research.local:8080/" />
		
		<add key="maintenance.mode" value="False" />
		<add key="debug.api" value="True" />
      	
		<add key="cache.path.default" value="C:/Users/Mason/Workspace/Web/cache/textmaxx.com/" />
		<add key="cache.minutes.tiny" value="3" />
        <add key="cache.minutes.short" value="7" />
        <add key="cache.minutes.medium" value="19" />
        <add key="cache.minutes.long" value="47" />
        <add key="cache.minutes.extralong" value="1440" />        
		
		<add key="pass.key" value="uOFblZc812uh6dWQsTz0KomqP1%2f9IvvwinKxKhqubK%2bmayviueBJ%2fzONNqE5GHPB" />
		<add key="cs.key" value="j67qn%2fmjQTgigJL%2b3ns%2fb%2fuPKt1Bece%2f94f6F0FCbkkHGl3pNN%2fo5N2PldIjiXXx" />
        <add key="key.separator" value="|" />		
		
		<add key="sms.legacy.url" value="https://smsapi.sdetech.com/Messaging.asmx/" />
		<add key="sms.base.url" value="https://msg.sdetech.com/messaging.asmx/" />
		<add key="sms.method.confirm" value="GetPhoneVerification" />
		<add key="sms.legacy.send" value="SendSMSWithUserID" />
		<add key="sms.method.send" value="SendSMSFromNumber" />
		<add key="sms.method.check.keyword" value="CheckKeyword" />
		<add key="sms.method.provision.keyword" value="AddShortCodeKeyword" />
        <add key="sms.method.shorten" value="CreateShortLink" />
		<add key="sms.method.store" value="CreateShortLink2" />
				
        <add key="cell.data.accepted.types" value=".txt,.csv" />
		<add key="cell.data.max.size" value="1048576" />
		<add key="cell.data.languages" value="en,es" />
		<add key="cell.data.variables" value="clientname,clientphone,pay,phonepay,webpay,username,me,date,time,datetime,datephrase,datetimephrase" />
		<add key="textmaxx.system.keywords" value="pay,paga,stop,pare,help,ayuda,subscribe,subscríbe,unstop,okay,k,ok,yes,y,si,s" />

		<add key="smtp.auth.type" value="" />
		<add key="smtp.port" value="" />
		<add key="smtp.host.name" value="" />
		<add key="smtp.user.name" value="" />
		<add key="smtp.user.password" value="" />
		<add key="email.sender.address" value="" />
	</appSettings>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="LPy2mtzAAY9L7R4t2BK12GbPkGINTdrc%2bxHPc71trTZGqbdvBy5IuMMcPCuVx9ZLEDuxOWsJHOU4%2f8UpeMY0ZkCtfKaGimRQbJATJ3kTjZVZp9wmNFas680cBwv9IPHDzkk4uIPAMl98gofCBHJTyZkmqDJ3v%2fLuwe0lOOAyATTLyPmkSGUugAVzUNt8a27j" name="default.connection.string" />
	</connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="DENY" />
            </customHeaders>
        </httpProtocol>
        <modules>
            <add name="NoNeedForSvc" type="Leedom.TextmaxxPro.Api.RestModule" preCondition="managedHandler" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />        
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,POST,PUT,DELETE,DEBUG,HEAD" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="User interface rule" patternSyntax="ExactMatch">
                    <match url="ui" />
                    <action type="Rewrite" url="index.html" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <pages buffer="true" styleSheetTheme="" validateRequest="false">
            <namespaces>
                <clear />
                <add namespace="System" />
                <add namespace="System.ServiceModel" />
                <add namespace="System.ServiceModel.Activation" />
                <add namespace="System.ServiceModel.Web" />
                <add namespace="System.Web.Routing" />
            </namespaces>
        </pages>
        <sessionState mode="InProc" cookieless="false" cookieName="sid" timeout="99" useHostingIdentity="true" />
		<httpCookies httpOnlyCookies="true" requireSSL="false" domain="textmaxx.research.local" />        
		<httpRuntime maxRequestLength="1536" executionTimeout="540" enableVersionHeader="false" />
		<trust level="Full" />
    </system.web>   
</configuration>
